<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Products List</title>
    <link rel="shortcut icon" href="/img/fav.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/adminpublic/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/adminpublic/css/templatemo-style.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" />
    <style>
        .product-image { max-width: 100px; height: auto; }
        .action-buttons .btn { margin-bottom: 5px; }
    </style>
</head>
<body>
    <%- include('../admin-partials/header'); %>

    <div class="container mt-5" style="padding-bottom: 50px">
        <h2 class="tm-block-title">Deleted Products List</h2>

        <div class="table-responsive">
            <table id="productsTable" class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>IMAGE</th>
                        <th>PRODUCT NAME</th>
                        <th>PRICE</th>
                        <th>OFFER PRICE</th>
                        <th>IN STOCK</th>
                        <th>CATEGORY</th>
                        <th>BRAND</th>
                        <th>ADDED DATE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (products && products.length > 0) { %>
                        <% products.forEach((product) => { %>
                                <tr>
                                    <td>
                                        <img src="<%= product.imagePaths[0] %>" alt="Product Image" class="img-fluid product-image" />
                                    </td>
                                    <td><%= product.name %></td>
                                    <td>$<%= product.basePrice %></td>
                                    <td><%= product.offerAmount ? '$' + product.offerAmount : 'N/A' %></td>
                                    <td><%= product.totalQuantity %></td>
                                    <td><%= product.category.name %></td>
                                    <td><%= product.brand.name %></td>
                                    <td><%= product.createdAt.toDateString() %></td>
                                    <td>
                                        <% if (product.isActive) { %>
                                        <a class="btn btn-danger btn-sm deleteAction" onclick="deleteProduct('<%= product._id %>')">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                        <% } else {%>
                                            <a class="btn btn-success btn-sm recoverAction" onclick="recoverProduct('<%= product._id %>')">
                                                <i class="fas fa-undo-alt"></i>
                                            </a>
                                            <%}%>
                                        <a href="/admin/edit-product/<%= product._id %>" class="btn btn-primary btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="9" class="text-center">No products in the database</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../admin-partials/footer'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/adminpublic/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function() {
            $('#productsTable').DataTable({
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "order": [[ 7, "desc" ]],  // Sort by Added Date column descending
                "language": {
                    "search": "Search products:"
                }
            });
        });

        function deleteProduct(productId) {
            Swal.fire({
                title: 'Do you want to delete this product?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    const response = await fetch(`/admin/delete-product/${productId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    if (response.ok) {
                        window.location.href = '/admin/products';
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        });
                    }
                }
            });
        }

        function recoverProduct(productId) {
            Swal.fire({
                title: 'Do you want to recover this product?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    const response = await fetch(`/admin/recover-product/${productId}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    if (response.ok) {
                        window.location.reload();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        });
                    }
                }
            });
        }
    </script>
</body>
</html>