<%- include('../admin-partials/header'); %>

<div class="col-12 tm-block-col">
  <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
    <h2 class="tm-block-title">Order List</h2>
    <div class="row mb-4">
      <div class="col-12 text-right">
        <a href="/admin/retrun-products" class="btn btn-primary">Return Products</a>
      </div>
    </div>
    <table id="orderTable" class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">CUSTOMER</th>
          <th scope="col">QTY</th>
          <th scope="col">DATE</th>
          <th scope="col">TOTAL</th>
          <th scope="col">ITEMS</th>
          <th scope="col">PAYMENT METHOD</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach((order) => { %>
        <tr>
          <td><b><%= order.orderId %></b></td>
          <td><b><%= order.address.fullName %></b></td>
          <td><b><%= order.totalQuantity %></b></td>
          <td><b><%= order.createdAt.toDateString() %></b></td>
          <td>$<%= order.totalPrice %></td>
          <td><b><%= order.products.length %></b></td>
          <td><b><%= order.paymentMethod %></b></td>
          <td>
            <a href="/admin/view-order/<%= order._id %>" class="btn btn-primary btn-sm">View</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../admin-partials/footer'); %>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

<script>
  $(document).ready(function() {
    $('#orderTable').DataTable({
      "pageLength": 10,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "order": [[ 3, "desc" ]],  // Sort by Date column descending
      "language": {
        "search": "Search orders:"
      },
      "columnDefs": [
        { "orderable": false, "targets": 7 }  // Disable sorting on the Action column
      ]
    });
  });
</script>

<style>
  .dataTables_wrapper .dataTables_filter input {
    background-color: aliceblue;
    color: black;
  }
  .dataTables_wrapper .dataTables_length select {
    background-color: aliceblue;
    color: black;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #435c70;
    color: white !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #1d2e3f !important;
    color: white !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #1d2e3f !important;
    color: white !important;
  }
</style>