<%- include('../admin-partials/header'); %>

<div class="container mt-5" style="padding-bottom: 50px">
  <div class="row">
    <!-- Category Column -->
    <div class="col-lg-6">
      <h2 class="tm-block-title">Tag List</h2>
      <div class="row mb-3">
        <div class="col-md-8">
          <div class="input-group">
            <input
              type="text"
              id="categorySearch"
              class="form-control form-control-lg"
              style="background-color: aliceblue; color: black"
              placeholder="Search tag..."
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="searchTag()"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <a href="/admin/add-tag-page" class="btn btn-primary btn-sm"
            >Add Tag</a
          >
        </div>
      </div>
        <div class="table-responsive">
          <% if (tags && tags.length > 0) { %>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">TAG</th>
                <th scope="col">ADDED DATE</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <% tags.forEach((tag) => { %> <% if (tag.isActive) {
              %>
              <tr>
                  <td><b><%= tag.tagName %></b></b></td>
                <td><b><%= tag.createdDate.toDateString() %></b></td>
                <td>
                  <a
                    class="text-danger deleteAction"
                    onclick="deleteTag('<%= tag._id %>')"
                  >
                    <i class="far fa-trash-alt"></i>
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a color
                    href="/admin/edit-tag-page/<%= tag._id %>"
                    class="text-primary"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
              </tr>
              <% } %> <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h1 style="text-align: center"><b>No tag in the database</b></h1>
          <% } %>
        </div>
    </div>
 
    <!-- Brand Column -->
    <div class="col-lg-6">
      <h2 class="tm-block-title">size List</h2>
      <div class="row mb-3">
        <div class="col-md-8">
          <div class="input-group">
            <input
              type="text"
              id="brandSearch"
              class="form-control form-control-lg"
              style="background-color: aliceblue; color: black"
              placeholder="Search size..."
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="searchSize()"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <a href="/admin/add-size-page" class="btn btn-primary btn-sm"
            >Add size</a
          >
        </div>
      </div>
        <div class="table-responsive">
          <% if (sizes && sizes.length > 0) { %>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">ADDED DATE</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <% sizes.forEach((size) => { %> <% if (size.isActive) { %>
              <tr>
                <td><b><%= size.size %></b></td>
                <td><b><%= size.createdDate.toDateString() %></b></td>
                <td>
                  <a
                    class="text-danger deleteAction"
                    onclick="deleteSize('<%= size._id %>')"
                  >
                    <i class="far fa-trash-alt"></i>
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a
                    href="/admin/edit-size-page/<%= size._id %>"
                    class="text-primary"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                </td>
              </tr>
              <% } %> <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h1 style="text-align: center"><b>No size in the database</b></h1>
          <% } %>
        </div>
      </div>
  </div>
 </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function deleteTag(tagId) {
    Swal.fire({
      title: `Do you want to delete this tag?`,
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      confirmButtonText: "OK",
    }).then(async (result) => {
      if (result.isConfirmed) {
        const response = await fetch(`/admin/delete-tag/${tagId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        });
        const result = await response.json();
        if (response.ok) {
          window.location.reload();
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: result.message,
          });
        }
      }
    });
  }

  function deleteSize(sizeId) {
    Swal.fire({
      title: `Do you want to delete this size?`,
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      confirmButtonText: "OK",
    }).then(async (result) => {
      if (result.isConfirmed) {
        const response = await fetch(`/admin/delete-size/${sizeId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        });
        const result = await response.json();
        if (response.ok) {
          window.location.reload();
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: result.message,
          });
        }
      }
    });
  }
</script>

<%- include('../admin-partials/footer'); %>
