<%- include('../userPartials/header'); %>

<!-- home page -->
<style>
  .header-slider img,
  .header-img img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
  }

  .header-img .img-item {
    margin-bottom: 20px; 
  }

  .header-slider-item,
  .header-img .img-item {
    position: relative;
  }

  .header-slider-caption,
  .img-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
</style>
<!-- Main Slider Start -->
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <nav class="navbar bg-light">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category"><i class="fa fa-th-list"></i> All items</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#"><i class="fa fa-chart-line"></i> Best Selling</a> -->
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="/search?search=newArrivals"><i class="fa fa-star"></i> New Arrivals</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search?search=men"><i class="fa fa-male"></i> Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search?search=women"><i class="fa fa-female"></i> Women</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search?search=girl"><i class="fa fa-heart"></i> Girl</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search?search=boy"><i class="fa fa-gamepad"></i> Boy</a>
            </li>
          </ul>
          
          
        </nav>
      </div>
      <div class="col-md-9">
        <div class="header-slider normal-slider">
          <div class="header-slider-item">
            <img src="/uploads/banner/HOKA_ Million Dollar Investment_.jpeg" alt="Slider Image" />
            <div class="header-slider-caption" style="background-color: #ffffff52;">
              <a class="btn" href="/category"
                ><i class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
          <div class="header-slider-item">
            <img src="/uploads/banner/Asics Novablast.jpeg" alt="Slider Image" />
            <div class="header-slider-caption" style="background-color: #a9b7e552;">
              <a class="btn" href="/category"
                ><i class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
          <div class="header-slider-item">
            <img src="/uploads/banner/Adidas UltraBoost AD- Lighter than air_.jpeg" alt="Slider Image" />
            <div class="header-slider-caption" style="background-color: #ffffff52;">
              <a class="btn" href="/category"
                ><i class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
          <div class="header-slider-item">
            <img src="/uploads/banner/adidas crazylight pack introduces a lightweight technology range.jpeg" alt="Slider Image" />
            <div class="header-slider-caption" style="background-color: #ffffff52;">
              <a class="btn" href="/category"
                ><i class="fa fa-shopping-cart"></i>Shop Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Slider End -->

<!-- Brand Start -->
<div class="brand">
  <div class="container-fluid">
    <div class="brand-slider">
     <div class="brand-item"> <img src="/uploads/brands/brand-1.png" alt="brand imgage" /></div>
      <div class="brand-item"><img src="/uploads/brands/brand-2.png" alt="brand imgage" /></div>
      <div class="brand-item"><img src="/uploads/brands/brand-3.png" alt="brand imgage" /></div>
      <div class="brand-item"><img src="/uploads/brands/brand-4.png" alt="brand imgage" /></div>
      <div class="brand-item"><img src="/uploads/brands/brand-5.png" alt="brand imgage" /></div>
      <div class="brand-item"><img src="/uploads/brands/brand-6.png" alt="brand imgage" /></div>
    </div>
  </div>
</div>
<!-- Brand End -->

<!-- Feature Start-->
<div class="feature">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fab fa-cc-mastercard"></i>
          <h2>Secure Payment</h2>
          <p></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-truck"></i>
          <h2>All Kerala Delivery</h2>
          <p></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-sync-alt"></i>
          <h2>5 Days Return</h2>
          <p></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-comments"></i>
          <h2>24/7 Support</h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End-->

<!-- banner 2 Start-->
<div class="category">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="/uploads/banner/download (2).jpeg" />
          <a class="category-name" href="/category">
            <p><b style="color: #4D869C;">"Trendy shoes for every occasion."</b>
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-250">
          <img src="/uploads/banner/British Trendy Shoes.jpeg" />
          <a class="category-name" href="/category">
            <p><b style="color: #4D869C;">"Elegant footwear for all."</b>
            </p>
          </a>
        </div>
        <div class="category-item ch-150">
          <img src="/uploads/banner/Jake Sardinelli Eva Sole Buckle Detailed Tan….jpeg" />
          <a class="category-name" href="/category">
            <p><b style="color: #4D869C;">"Step out in confidence."</b>
            </p>
          </a>>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-150">
          <img src="/uploads//banner/d8dba3b3-9ab7-4bce-9606-d65b21a28ca6.jpeg" />
          <a class="category-name" href="/category">
            <p><b style="color: #4D869C;">"Comfort meets style"</b>
            </p>
          </a>
        </div>
        <div class="category-item ch-250">
          <img src="/uploads//banner/797ce171-9e15-4505-8d15-3565090c424d.jpeg" />
          <a class="category-name" href="/category">
            <p><b style="color: #4D869C;">"Shoes that define your style".</b>
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="category-item ch-400">
          <img src="/uploads/banner/7340c4ea-885e-45c4-8f14-2465ce5f4b54.jpeg" />
          <a class="category-name" href="/category">
            <p><b style="color: #4D869C;">"Perfect fit for every step".</b>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner 2 End -->

<!-- Call to Action Start -->
<div class="call-to-action">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1>call us for any queries</h1>
      </div>
      <div class="col-md-6">
        <a href="tel:9072016196">9072016196</a>
      </div>
    </div>
  </div>
</div>
<!-- Call to Action End -->

<!-- Top Selling Products -->
<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Top Selling Products</h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">
      <% locals.topProducts.forEach((product) => { %>
        <% if(product.isActive === true) { %>
          <div class="col-lg-3" style="width: 450px;">
            <div class="product-item">
              <div class="product-title rounded-top">
                <div class="ratting d-flex justify-content-between">
                  <div>
                    <% if(product.rating) { %>
                      <% for (let i = 1; i <= 5; i++) { %>
                        <% if (i <= Math.round(product.rating)) { %>
                          <i class="fa fa-star"></i>
                        <% } else { %>
                          <i class="fa fa-star-o"></i>
                        <% } %>
                      <% } %>
                    <% } %>
                  </div>
                  <% if (product.totalQuantity == 0 ) { %>
                    <span class="badge badge-danger">Out Of Stock</span>
                  <% } else if (product.totalQuantity < 10) { %>
                    <span class="badge badge-warning">Limited Stock</span>
                  <% } else { %>
                    <span class="badge badge-success">In Stock</span>
                  <% } %>
                </div>
              </div>
              <div class="product-image">
                <a href="/product/<%= product._id %>">
                  <img src="<%= product.imagePaths[0] %>" alt="Product Image" />
                </a>
                <div class="product-action">
                  <a href="#" tabindex="0" class="addToWishlist" data-id="<%= product._id %>" data-toggle="tooltip" title="wishlist">
                    <i class="fa fa-heart"></i>
                  </a>
                  <a href="/product/<%= product._id %>" tabindex="0" data-toggle="tooltip" title="view">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="product-price rounded-bottom">
                <div class="d-flex justify-content-between">
                  <div>
                    <span><b><%= product.name %></b></span>
                  </div>
                  <div>
                    <span class="badge badge-light"><%= product.brand.name %></span>
                  </div>
                </div>
                <div class="text-dark">
                  <% function capitalizeFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1);
                  } %>
                  <span><%= capitalizeFirstLetter(product.category.name.toLowerCase()) %>'s <%= capitalizeFirstLetter(product.tag.tagName.toLowerCase()) %> Shoe</span>
                </div>
                <% if (product.offerAmount) { %>
                  <h6 class="text-dark">
                    $ <%= product.offerAmount %>&nbsp;&nbsp;
                    <span style="text-decoration: line-through; color: crimson"><%= product.basePrice %></span>&nbsp;&nbsp;
                    <span class="button11 badge badge-success text-white">Product Offer <%= Math.ceil(100 - (product.offerAmount / product.basePrice) * 100) %>%</span>
                  </h6>
                <% } else if (product.categoryOfferAmount) { %>
                  <h6 class="text-dark">
                    $ <%= product.categoryOfferAmount %>&nbsp;&nbsp;
                    <span style="text-decoration: line-through; color: crimson"><%= product.basePrice %></span>&nbsp;&nbsp;
                    <span class="button11 badge badge-success text-white">Category Offer <%= Math.ceil(100 - (product.categoryOfferAmount / product.basePrice) * 100) %>%</span>
                  </h6>
                <% } else { %>
                  <h6 class="text-dark"><span>$</span><%= product.basePrice %></h6>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
</div>

<!-- Recently Added Products -->
<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Recently Added Products</h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">
      <% locals.recentProducts.forEach((product) => { %>
        <% if(product.isActive === true) { %>
          <div class="col-lg-3" style="width: 450px;">
            <div class="product-item">
              <div class="product-title rounded-top">
                <div class="ratting d-flex justify-content-between">
                  <div>
                    <% if(product.rating) { %>
                      <% for (let i = 1; i <= 5; i++) { %>
                        <% if (i <= Math.round(product.rating)) { %>
                          <i class="fa fa-star"></i>
                        <% } else { %>
                          <i class="fa fa-star-o"></i>
                        <% } %>
                      <% } %>
                    <% } %>
                  </div>
                  <% if (product.totalQuantity == 0 ) { %>
                    <span class="badge badge-danger">Out Of Stock</span>
                  <% } else if (product.totalQuantity < 10) { %>
                    <span class="badge badge-warning">Limited Stock</span>
                  <% } else { %>
                    <span class="badge badge-success">In Stock</span>
                  <% } %>
                </div>
              </div>
              <div class="product-image">
                <a href="/product/<%= product._id %>">
                  <img src="<%= product.imagePaths[0] %>" alt="Product Image" />
                </a>
                <div class="product-action">
                  <a href="#" tabindex="0" class="addToWishlist" data-id="<%= product._id %>" data-toggle="tooltip" title="wishlist">
                    <i class="fa fa-heart"></i>
                  </a>
                  <a href="/product/<%= product._id %>" tabindex="0" data-toggle="tooltip" title="view">
                    <i class="fa fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="product-price rounded-bottom">
                <div class="d-flex justify-content-between">
                  <div>
                    <span><b><%= product.name %></b></span>
                  </div>
                  <div>
                    <span class="badge badge-light"><%= product.brand.name %></span>
                  </div>
                </div>
                <div class="text-dark">
                  <% function capitalizeFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1);
                  } %>
                  <span><%= capitalizeFirstLetter(product.category.name.toLowerCase()) %>'s <%= capitalizeFirstLetter(product.tag.tagName.toLowerCase()) %> Shoe</span>
                </div>
                <% if (product.offerAmount) { %>
                  <h6 class="text-dark">
                    $ <%= product.offerAmount %>&nbsp;&nbsp;
                    <span style="text-decoration: line-through; color: crimson"><%= product.basePrice %></span>&nbsp;&nbsp;
                    <span class="button11 badge badge-success text-white">Product Offer <%= Math.ceil(100 - (product.offerAmount / product.basePrice) * 100) %>%</span>
                  </h6>
                <% } else if (product.categoryOfferAmount) { %>
                  <h6 class="text-dark">
                    $ <%= product.categoryOfferAmount %>&nbsp;&nbsp;
                    <span style="text-decoration: line-through; color: crimson"><%= product.basePrice %></span>&nbsp;&nbsp;
                    <span class="button11 badge badge-success text-white">Category Offer <%= Math.ceil(100 - (product.categoryOfferAmount / product.basePrice) * 100) %>%</span>
                  </h6>
                <% } else { %>
                  <h6 class="text-dark"><span>$</span><%= product.basePrice %></h6>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
</div>
<!-- Recent Product End -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/frond-end-JS/home.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<%- include('../userPartials/footer'); %>
<script>
document.addEventListener("DOMContentLoaded", () => {

  const showInfoToast = (message) => {
      toastr.options = {
        "positionClass": "toast-top-center",
        "timeOut": "3000",
        "closeButton": true,
      };
      toastr.info(message);
    };

    const showErrorToast = (message) => {
    toastr.options = {
        "positionClass": "toast-top-center",
        "timeOut": "3000",
        "closeButton": true,
      };
      toastr.error(message);
    }
  
    const showSuccessToast = (message) => {
    toastr.options = {
        "positionClass": "toast-top-center",
        "timeOut": "3000",
        "closeButton": true,
      };
      toastr.success(message);
    }

  const addToWishlistButtons = document.querySelectorAll('.addToWishlist');
  addToWishlistButtons.forEach(item => {
    item.addEventListener('click', async (e) => {
      e.preventDefault();
      const productId = item.dataset.id;
      try {
        const response = await fetch('/add-wishlist', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ productId })
        });

        const data = await response.json();
        console.log("data", data);
        if (response.ok) {
          showSuccessToast("item added wishlist successfully");
        }else{
          showErrorToast(`${data.message}`);
        }

      } catch (error) {
        console.log(error);
      showErrorToast("Failed to add to wishlist");
      }
    });
  });
});
</script>
