<%- include('../userPartials/header'); %>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Product Details Page</h1>
        <nav class="d-flex align-items-center">
          <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="/category">Shop<span class="lnr lnr-arrow-right"></span></a>
          <a href="">Product Details</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!-- Single Product Area -->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-5">
        <!-- Include the Etalage files -->
        <link rel="stylesheet" href="/css/etalage.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/jquery.etalage.min.js"></script>
        <script>
          jQuery(document).ready(function ($) {
            $("#etalage").etalage({
              thumb_image_width: 400,
              thumb_image_height: 400,
              source_image_width: 900,
              source_image_height: 1000,
              show_hint: true,
            });
          });
        </script>
        <!-- Etalage image gallery -->
        <ul id="etalage">
          <% product.imagePaths.forEach((imagePath) => { %>
          <li>
            <img
              class="etalage_thumb_image"
              src="<%= imagePath %>"
              alt="Product Image Thumbnail"
            />
            <img
              class="etalage_source_image"
              src="<%= imagePath %>"
              alt="Product Image"
            />
          </li>
          <% }); %>
        </ul>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= product.name %></h3>
          <% if (product.offerAmount) { %>
          <div>
            <b style="color: #000">OFFER PRICE</b>:
            <b style="color: black">$<%= product.offerAmount %></b>
          </div>
          <div>
            <b style="color: #000">PRICE</b>:
            <b style="color: rgb(255, 0, 0); text-decoration: line-through"
              >$<%= product.basePrice %></b
            >
          </div>
          <% } else { %>
          <div>
            <b style="color: #000">PRICE &nbsp; : </b>
            <b style="color: black">$<%= product.basePrice %></b>
          </div>
          <% } %>
          <ul class="list">
            <li>
              <span><b style="color: black">CATEGORY &nbsp; : </b></span>
              <b style="color: #000"><%= product.category.name %></b>
            </li>
            <li>
              <span><b style="color: black">BRAND &nbsp; : </b></span>
              <b style="color: #000"><%= product.brand.name %></b>
            </li>
            <li>
              <span><b style="color: black">AVAILABILITY &nbsp; : </b></span> <%
              if (product.totalQuantity < 10) { %>
              <b style="color: rgb(255, 136, 0)">Limited Stock</b>
              <% } else if (product.totalQuantity === 0) { %>
              <b style="color: red">Out of Stock</b>
              <% } else { %>
              <b style="color: rgb(0, 255, 17)">In Stock</b>
              <% } %>
            </li>
            <li>
              <select
                class="tm-select-accounts"
                name="color[]"
                style="background-color: white; color: black"
              >
                <% product.variants.forEach((variant, index) => { %>
                   <% if(index===0){%>
                <option selected value="<%= variant.size._id %>">
                  <%= variant.size.size %>
                </option>
                <%}else{%>
                <option value="<%= variant.size._id %>">
                  <%= variant.size.size %>
                </option>
                <%}%> <% }) %>
              </select>
            </li>
          </ul>
          <br />
          <p>
            <b style="color: black">Description &nbsp; : </b> <%=
            product.description %>
          </p>
          <div class="product_count">
            <label for="qty">Quantity:</label>
            <input
              type="text"
              name="qty"
              id="sst"
              maxlength="12"
              value="1"
              title="Quantity:"
              class="input-text qty"
            />
            <button
              onclick="incrementQuantity()"
              class="increase items-count"
              type="button"
            >
              <i class="lnr lnr-chevron-up"></i>
            </button>
            <button
              onclick="decrementQuantity()"
              class="reduced items-count"
              type="button"
            >
              <i class="lnr lnr-chevron-down"></i>
            </button>
          </div>
          <div class="card_area d-flex align-items-center">
            <a class="primary-btn" href="#">Add to Cart</a>
            <a class="icon_btn" href="#"><i class="lnr lnr-diamond"></i></a>
            <a class="icon_btn" href="#"><i class="lnr lnr-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Single Product Area -->

<!-- Product Description Area -->
<section class="product_description_area">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link"
          id="home-tab"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Related products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Specification</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          id="review-tab"
          data-toggle="tab"
          href="#review"
          role="tab"
          aria-controls="review"
          aria-selected="false"
          >Reviews</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- Related Products Tab -->
      <div
        class="tab-pane fade"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="single-product-slider">
          <div class="container">
            <div class="row">
              <% relatedProducts.forEach((relatedProduct) => { %>
              <div class="col-lg-3 col-md-6">
                <!-- <div class="col-lg-4 col-md-6 col-sm-12"> -->
                <div class="single-product">
                  <div class="product-image-wrapper">
                    <a href="/product/<%= relatedProduct._id %>">
                      <img
                        class="img-fluid"
                        src="<%= relatedProduct.imagePaths[0] %>"
                        alt=""
                      />
                      <div class="image-overlay">
                        <a href="" class="social-info">
                          <span class="ti-bag"></span>
                          <p class="hover-text">add to bag</p>
                        </a>
                        <a href="" class="social-info">
                          <span class="lnr lnr-heart"></span>
                          <p class="hover-text">Wishlist</p>
                        </a>
                        <a
                          href="/product/<%= relatedProduct._id %>"
                          class="social-info"
                        >
                          <span class="lnr lnr-move"></span>
                          <p class="hover-text">view more</p>
                        </a>
                      </div>
                    </a>
                  </div>
                  <div class="product-details">
                    <h6><%= relatedProduct.name %></h6>
                    <h5>BRAND : <%= relatedProduct.brand.name %></h5>
                    <h5>CATEGORY : <%= relatedProduct.category.name %></h5>
                    <div class="price">
                      <% if (relatedProduct.offerAmount) { %>
                      <h6>$<%= relatedProduct.offerAmount %></h6>
                      <h6 class="l-through">
                        $<%= relatedProduct.basePrice %>
                      </h6>
                      <% } else { %>
                      <h6>$<%= relatedProduct.basePrice %></h6>
                      <% } %> <% if (relatedProduct.quantity < 10) { %>
                      <h6 style="color: rgb(255, 136, 0)">Limited Stock</h6>
                      <% } else if (relatedProduct.quantity == 0) { %>
                      <h6 style="color: red">Out of Stock</h6>
                      <% } else { %>
                      <h6 style="color: rgb(0, 255, 17)">In Stock</h6>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
      <!-- Specification Tab -->
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><h5>TYPE</h5></td>
                <td><h5><%= product.tag.tagName %></h5></td>
              </tr>
              <tr>
                <td><h5>MIDSOLE DROP </h5></td>
                <td><h5><%= product.midsoleDrop %> mm</h5></td>
              </tr>
              <tr>
                <td><h5>FOREFOOT</h5></td>
                <td><h5><%= product.foreFoot %> mm</h5></td>
              </tr>
              <tr>
                <td><h5>HEEL</h5></td>
                <td><h5><%= product.heel %> mm</h5></td>
              </tr>
              <tr>
                <td><h5>WIGHT</h5></td>
                <td><h5><%= product.weight %> gm</h5></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Reviews Tab -->
      <div
        class="tab-pane fade show active"
        id="review"
        role="tabpanel"
        aria-labelledby="review-tab"
      >
        <div class="row">
          <div class="col-lg-6">
            <div class="row total_rate">
              <div class="col-6">
                <div class="box_total">
                  <h5>Overall</h5>
                  <h4>4.0</h4>
                  <h6>(03 Reviews)</h6>
                </div>
              </div>
            </div>
            <div class="review_list">
              <% for (let i = 1; i <= 3; i++) { %>
              <div class="review_item">
                <div class="media">
                  <div class="d-flex">
                    <img
                      src="img/product/review-<%= i %>.png"
                      alt="Review Image"
                    />
                  </div>
                  <div class="media-body">
                    <h4>Blake Ruiz</h4>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <% } %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="review_box">
              <h4>Add a Review</h4>
              <form
                class="row contact_form"
                action="contact_process.php"
                method="post"
                id="contactForm"
                novalidate="novalidate"
              >
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Your Full Name"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email Address"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="number"
                      name="number"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="message"
                      id="message"
                      rows="1"
                      placeholder="Review"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button type="submit" class="primary-btn">Submit Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product Description Area -->

<%- include('../userPartials/footer'); %>

<script>
  // JavaScript for incrementing/decrementing the quantity
  function incrementQuantity() {
    var quantity = parseInt(document.getElementById("sst").value);
    if (quantity < 10) {
      document.getElementById("sst").value = quantity + 1;
    }
  }

  function decrementQuantity() {
    var quantity = parseInt(document.getElementById("sst").value);
    if (quantity > 1) {
      document.getElementById("sst").value = quantity - 1;
    }
  }
</script>
