<%- include('../userPartials/header'); %>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container-fluid">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">My Account</li>
      </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- My Account Start -->
<div class="my-account">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
              <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i class="fa fa-credit-card"></i>Wallet</a>
                <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i class="fa fa-map-marker-alt"></i>Address</a>
                <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Password</a>
                <a class="nav-link" id="cart-nav" href="/cart"><i class="fa fa-shopping-cart"></i>Cart</a>
                <a class="nav-link" id="wishlist-nav" href="/wishlist"><i class="fa fa-heart"></i>Wishlist</a>
                <a class="nav-link" href="" id="logoutBtn"><i class="fa fa-sign-out-alt"></i>Logout</a>
              </div>
          </div>
          <div class="col-md-9">
              <div class="tab-content">
                  <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                    <%- include('../userPartials/user-personal-info'); %>
                  </div>
                  <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                    <%- include('../userPartials/userOrders'); %>
                  </div>
                  <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                    <%- include('../userPartials/wallet'); %>
                  </div>
                  <div  class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                    <%- include('../userPartials/userAddress'); %>
                  </div>
                  <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                    <%- include('../userPartials/accountDetails'); %>
                  </div>
              </div>
          </div>  
      </div>
  </div>
</div>
<!-- My Account End -->
<%- include('../userPartials/footer'); %>

<script>
  const logoutBtn = document.querySelector("#logoutBtn");
  logoutBtn.addEventListener("click", async (event) => {
    event.preventDefault();
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to logout?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, Logout!",
    }).then(async (result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: "Successfully logged out",
          icon: "success",
          showCancelButton: false,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "OK",
        }).then(async (result) => {
          if (result.isConfirmed) {
            const response = await fetch("/auth/logout", {
              method: "POST",
            });
            if (response.redirected) {
              window.location.href = response.url;
            }
          }
        });
      }
    });
  });
</script>